<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout}">
 
<div layout:fragment="content">
	<div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Account</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="home.html">Trang chủ</a>
                    </li>
                    <li class="is-marked">
                        <a th:href="@{/account}">Tài khoản</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="page-account u-s-p-t-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 card">
                    <div class="p-5">
                        <h3 class="account-h3 u-s-m-b-20 mb-2">Thông tin người dùng</h3>
                        <hr>
                        <table cellpadding="2" cellspacing="10" class="col-12">
				            <tr class="">
				                <td class="form-label">Họ và tên</td>
				                <td class="form-label" th:if="${user.hoTen != ''}" th:text="${user.hoTen}"></td>
				                <td class="form-label" th:unless="${user.hoTen != ''}"><i>Chưa nhập thông tin</i></td>
				            </tr>
				            <tr class="u-s-m-b-20">
				                <td class="form-label">Số điện thoại</td>
				                <td class="form-label" th:if="${user.sdt != ''}" th:text="${user.sdt}"></td>
				                <td class="form-label" th:unless="${user.hoTen != ''}"><i>Chưa nhập thông tin</i></td>
				            </tr>
				            <tr class="u-s-m-b-20">
				                <td class="form-label">Email</td>
				                <td class="form-label" th:text="${user.email}"></td>
				            </tr>
				            <tr class="u-s-m-b-20">
				                <td class="form-label">Địa chỉ</td>
				                <td class="form-label" th:if="${user.diaChi != ''}" th:text="${user.diaChi}"></td>
				                <td class="form-label" th:unless="${user.diaChi != ''}"><i>Chưa nhập thông tin</i></td>
				            </tr>
				            <tr class="u-s-m-b-20">
				                <td class="form-label">Tên tài khoản</td>
				                <td class="form-label" th:text="${user.taiKhoan.tenTaiKhoan}"></td>
				            </tr>
				    	</table>
				    	<hr>
				    	<div class="d-flex justify-content-between">
				    		<a th:href="@{/account/update-info}" class="btn btn-primary">
					    		<i class="fas fa-pen"></i> Cập nhật thông tin
					   		</a>
					    	<a th:href="@{/account/update-account}" class="btn btn-primary">
					    		<i class="fas fa-unlock"></i> Cập nhật tài khoản
					    	</a>
				    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>