<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout}">
 
<div layout:fragment="content">
	<div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Account</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="home.html">Trang chủ</a>
                    </li>
                    <li class="is-marked has-separator">
                        <a th:href="@{/account}">Tài khoản</a>
                    </li>
                    <li class="is-marked">
                        <a th:href="@{/account/update-info}">Cập nhật</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="page-account u-s-p-t-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 card">
                    <div class="p-5">
                        <h3 class="account-h3 u-s-m-b-20 mb-2">Thông tin người dùng</h3>
                        <hr>
                        <form th:action="@{/account/save-info}" method="POST">
                        	<input type="hidden" th:value="${isCustomer} ? ${user.idKhachHang} : ${user.idNhanVien}" 
                        		id="id" name="id" >
                        		<input type="hidden" th:value="${isCustomer}" 
                        		id="isCustomer" name="isCustomer" >
                            <div class="u-s-m-b-30">
                                <label for="name">Họ và tên
                                    <span class="astk">*</span>
                                </label>
                                <input type="text" th:value="${user.hoTen}" id="name" name="name" 
                                class="text-field" placeholder="Nhập họ và tên" required>
                            </div>
                            <div class="u-s-m-b-30">
                                <label for="email">Email
                                    <span class="astk">*</span>
                                </label>
                                <input type="text" th:value="${user.email}" id="email" name="email" 
                                class="text-field" placeholder="Nhập email" required>
                            </div>
                            <div class="u-s-m-b-30">
                                <label for="address">Địa chỉ
                                </label>
                                <input type="text" th:value="${user.diaChi}" id="address" name="address" 
                                class="text-field" placeholder="Nhập địa chỉ">
                            </div>
                            <div class="u-s-m-b-30">
                                <label for="phone">Số điện thoại
                                    <span class="astk">*</span>
                                </label>
                                <input type="text" th:value="${user.sdt}" id="phone" name="phone" 
                                class="text-field" placeholder="Nhập số điện thoại" required>
                            </div>
                            <div class="u-s-m-b-45">
                                <button type="submit" class="button button-primary w-100">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>