<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Furniture Management System</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>
 <div class="container-fluid">
 <h1>Furniture List</h1> 
  <a th:href ="@{/showNewFurnitureForm}" class="btn btn-primary btn-sm mb-3">Add Furniture</a>
 
  <table border="1" class = "table table-striped table-responsive-md">
   <thead>
    <tr>
    <th>
      <a th:href="@{'/page/' + ${currentPage} + '?sortField=maNoiThat&sortDir=' + ${reverseSortDir}}">
       Mã loại</a>
     </th>
     <th>
     <a th:href="@{'/page/' + ${currentPage} + '?sortField=tenNT&sortDir=' + ${reverseSortDir}}">
       Tên</a>
     </th>
     <th>
     <a th:href="@{'/page/' + ${currentPage} + '?sortField=donGia&sortDir=' + ${reverseSortDir}}">
       Đơn giá</a>
       
     </th>
     <th>
     <a th:href="@{'/page/' + ${currentPage} + '?sortField=kichThuoc&sortDir=' + ${reverseSortDir}}">
       Kích thước</a>
       
     </th>
     <th>
     <a th:href="@{'/page/' + ${currentPage} + '?sortField=chatLieu&sortDir=' + ${reverseSortDir}}">
       Chất liệu</a>
       
     </th>
     <th>
     <a th:href="@{'/page/' + ${currentPage} + '?sortField=maLoai&sortDir=' + ${reverseSortDir}}">
       Loại</a>
       
     </th>
     <th>Tác vụ </th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="furniture:${listFurniture}">
     <td th:text="${furniture.maNoiThat}"></td>
     <td th:text="${furniture.tenNT}"></td>
     <td th:text="${furniture.donGia}"></td>
      <td th:text="${furniture.kichThuoc}"></td>
       <td th:text="${furniture.chatLieu}"></td>
        <td th:text="${furniture.maLoai}"></td>
     <td>
     <a th:href="@{/showFormForUpdate/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}" class="btn btn-primary">Update</a>
     <a class="btn btn-primary deletebtn"  th:data-id ="${furniture.idNoiThat}">Delete</a>
     </td>
     
    
     
    </tr>
   </tbody>
  </table>
  	<div th:if = "${totalPages > 1}">
   <div class = "row col-sm-10">
    <div class = "col-sm-2">
     Total Rows: [[${totalItems}]] 
    </div>
    <div class = "col-sm-7">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
    </div>
     <div class = "col-sm-1">
     <a th:if="${currentPage != 1}" th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
     <span th:if="${currentPage == 1}">First</span>
    </div>
    <div class = "col-sm-1">
     <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
     <span th:unless="${currentPage < totalPages}">Next</span>
    </div>
    
     <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
     <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
   </div>
  </div>
 </div>
 	<script>
 		var buttons = document.querySelectorAll('.deletebtn');
 		Array.from(buttons).forEach(function (item){
 			item.addEventListener('click',function (event) {
 	        	
 				if(confirm('Do you want to delete this ?')){
 					idNoiThat = (this.dataset.id)
 					
 			
 					console.log(idNoiThat);
 					
 					window.location.href = '/showFormForDelete/' + parseInt(idNoiThat);
 				
 					alert('Delete Sucessfully')
 				}
 				else{
 					return;
 				}
 	    	});
 		})
 	
 	</script>
</body>
</html>