<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>
 <div class="container-fluid">
 	
 		<hr>
 	<h2>Cập nhật</h2>
 	<form action="#" th:action="@{/saveFurniture}" th:object="${furniture}" method="POST">
 	
 		<input type="text" th:field = "*{maNoiThat}" 
 		placeholder="Employee First Name" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{TenNT}" 
 		placeholder="Employee Last Name" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{donGia}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{kichThuoc}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{baoHanh}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{hinhAnh}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{chatLieu}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{donViTinh}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<input type="text" th:field = "*{moTa}" 
 		placeholder="Employee Email" class="form-control mb-4 col-4">
 		
 		<div>
 			<label>Loại nội thất</label>
 		<select th:field="*{maLoai}">	
		    <option th:each="item: ${listType}" th:value="${item.maLoai}" th:text="${item.tenLoai}"></option>
		</select>
 		</div>
 	
 		<div>
 		<label>Khuyến mãi</label>
 		<select th:field="*{MaKM}">	
		    <option th:each="item: ${listPro}" th:value="${item.maKM}" th:text="${item.tenKM}"></option>
		</select>
 		<button type="submit" class="btn btn-info col-2">Cập nhật</button>
 	</form>
 </div>
</body>
</html>