<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<div layout:fragment="content">
<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Bảng đơn hàng</h1>
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		        	<thead>
		            	<tr>
		                	<th>Mã đơn</th>
			     			<th>Ngày lập</th>
			     			<th>Địa chỉ giao</th>
				     		<th>Khách hàng</th>	
				     		<th>Nhân viên lập</th>
		     				<th>Tác vụ </th>
		            	</tr>
		            </thead>
		            <tfoot>
		               	<tr>
		                	<th>Mã đơn</th>
			     			<th>Ngày lập</th>
			     			<th>Địa chỉ giao</th>
				     		<th>Khách hàng</th>
				     		<th>Nhân viên lập</th>
		     				<th>Tác vụ </th>
		            	</tr>
		            </tfoot>
		            <tbody>
		                <tr th:each="order: ${ordersList}">
						   	<td th:text="${order.maDH}"></td>
						    <td th:text="${order.ngayLap}"></td>
						    <td th:text="${order.diaChiNhanHang}"></td>
						    <td th:text="${order.khachHang.hoTen}"></td>
						    <td th:text="${order.nhanVien.hoTen}"></td>
				     		<td class="action-area">
				     			<a th:href="@{/admin/detail-order/{idDonHang}(idDonHang=${order.idDonHang})}" 
							    class="btn btn-primary"><i class="fas fa-fw fa-info-circle"></i></a>
							    <a th:href="@{/admin/update-order/{idDonHang}(idDonHang=${order.idDonHang})}" 
							    class="btn btn-primary"><i class="fas fa-fw fa-edit"></i></a>
								<a class="btn btn-primary deletebtn" th:data-id="${order.idDonHang}" 
								th:data-type="order"><i class="fas fa-fw fa-trash"></i></a>
							</td>
						</tr>
		            </tbody>
				</table>
	        </div>
   		</div>
	</div>
</div>