<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<div layout:fragment="content">
<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Cập nhật khách hàng</h1>
	<div class="card shadow mb-4">
		<div class="card-body">
			<form action="#" th:action="@{/admin/save-customer}" th:object="${customer}" method="POST">
		 		
		 		<input type="hidden" th:field="*{idKhachHang}" />
		 		
		 		<label>Mã khách hàng <sup>*</sup></label>
		 		<input type="text" th:field = "*{maKH}" readonly
		 		placeholder="Nhập mã khách hàng" class="form-control mb-4 col-6">
		 		
		 		<label>Họ tên <sup>*</sup></label>
		 		<input type="text" th:field = "*{hoTen}" required
		 		placeholder="Nhập họ tên khách hàng" class="form-control mb-4 col-6">
		 		
		 		<label>Số điện thoại <sup>*</sup></label>
		 		<input type="text" th:field = "*{sdt}" required
		 		placeholder="Nhập số điện thoại" class="form-control mb-4 col-6">
		 		
		 		<label>Email <sup>*</sup></label>
		 		<input type="email" th:field = "*{email}" required
		 		placeholder="Nhập email" class="form-control mb-4 col-6">
		 		
		 		<label>Địa chỉ</label>
		 		<input type="text" th:field = "*{diaChi}" 
		 		placeholder="Nhập địa chỉ khách hàng" class="form-control mb-4 col-6">
		 		
				<label>Tài khoản <sup>*</sup></label>
		 		<div class="mb-5 col-6" style="padding: 0;">
		 			<select th:field="*{taiKhoan}" class="form-control mb-1">	
						<option th:each="item: ${accountsList}" th:value="${item.idTaiKhoan}" th:text="${item.tenTaiKhoan}"></option>
					</select>
					<a th:href="@{/admin/create-account}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
						Thêm tài khoản</a>
		 		</div>
		 		
		 		<button type="submit" class="btn btn-info">Cập nhật</button>
		 	</form>
   		</div>
	</div>
	<div class="form-action">
		<a th:href="@{/admin/customer}">Quay lại</a>
	</div>
</div>