<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<div layout:fragment="content">
<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Cập nhật khách hàng</h1>
	<div class="card shadow mb-4">
		<div class="card-body">
			<form action="#" th:action="@{/admin/save-customer}" th:object="${customer}" method="POST">
		 		
		 		<input type="hidden" th:field="*{idKhachHang}" />
		 		
		 		<label>Mã khách hàng <sup>*</sup></label>
		 		<input type="text" th:field = "*{maKH}" readonly
		 		placeholder="Nhập mã khách hàng" class="form-control mb-4 col-6">
		 		
		 		<label>Họ tên <sup>*</sup></label>
		 		<input type="text" th:field = "*{hoTen}" required
		 		placeholder="Nhập họ tên khách hàng" class="form-control mb-4 col-6">
		 		
		 		<label>Số điện thoại <sup>*</sup></label>
		 		<input type="text" th:field = "*{sdt}" required
		 		placeholder="Nhập số điện thoại" class="form-control mb-4 col-6">
		 		
		 		<label>Email <sup>*</sup></label>
		 		<input type="email" th:field = "*{email}" required
		 		placeholder="Nhập email" class="form-control mb-4 col-6">
		 		
		 		<label>Địa chỉ</label>
		 		<input type="text" th:field = "*{diaChi}" 
		 		placeholder="Nhập địa chỉ khách hàng" class="form-control mb-4 col-6">
		 		
				<label>Tài khoản <sup>*</sup></label>
		 		<input type="text" th:value="${employee.taiKhoan.tenTaiKhoan}" name="accountName" id="accountName" required
		 		placeholder="Nhập tài khoản" class="form-control mb-4 col-6">
		 		
		 		<label>Mật khẩu <sup>*</sup></label>
		 		<input type="password" name="password" id="accountName" required
		 		placeholder="Nhập mật khẩu" class="form-control mb-4 col-6">
		 		
		 		<label>Roles</label>
		 		<div class="mb-4 col-6">
		 			<div class="custom-control custom-checkbox custom-control-inline"
		 				th:each="role : ${rolesList}">
		 				<input type="checkbox" name="roles" class="custom-control-input"
				            th:value="${role.idVaiTro}" th:field="*{taiKhoan.dsVT}"
				            th:id="${role.idVaiTro}"
				        />
				        <label class="custom-control-label" th:for="${role.idVaiTro}"
				        	th:text="${#strings.substring(role.tenVT, 5)}"></label>
				    </div>
		 		</div>
		 		
		 		<button type="submit" class="btn btn-info">Cập nhật</button>
		 	</form>
   		</div>
	</div>
	<div class="form-action">
		<a th:href="@{/admin/customer}">Quay lại</a>
	</div>
</div>