<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<div layout:fragment="content">
<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Cập nhật khách hàng</h1>
	<div class="card shadow mb-4">
		<div class="card-body">
			<form action="#" th:action="@{/admin/save-customer}" th:object="${customer}" method="POST">
		 		
		 		<input type="hidden" th:value="${accountId != null} ? ${accountId} : -1" name="accountId">
		 		<input type="hidden" th:field="*{idKhachHang}" />
		 		
		 		<label>Mã khách hàng <sup>*</sup></label>
		 		<input type="text" th:field = "*{maKH}" 
		 		placeholder="Nhập mã khách hàng" class="form-control col-6" readonly>
		 		<div class="mb-4"></div>
		 		
		 		<label>Họ tên <sup>*</sup></label>
		 		<input type="text" th:field = "*{hoTen}" required
		 		placeholder="Nhập họ tên khách hàng" class="form-control col-6" >
		 		<label th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Số điện thoại <sup>*</sup></label>
		 		<input type="text" th:field = "*{sdt}" required
		 		placeholder="Nhập số điện thoại" class="form-control col-6">
		 		<label th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Email <sup>*</sup></label>
		 		<input type="email" th:field = "*{email}" required
		 		placeholder="Nhập email khách hàng" class="form-control col-6">
		 		<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Địa chỉ</label>
		 		<input type="text" th:field = "*{diaChi}" required
		 		placeholder="Nhập địa chỉ khách hàng" class="form-control mb-4 col-6">
		 		
				<label>Tài khoản <sup>*</sup></label>
		 		<input type="text" name="accountName" id="accountName" th:value="${account.tenTaiKhoan}" readonly
		 		placeholder="Nhập tài khoản" class="form-control mb-4 col-6">
		 		
		 		<label>Mật khẩu <sup>*</sup></label>
		 		<input type="password" name="password" id="password" required
		 		placeholder="Nhập mật khẩu" class="form-control mb-4 col-6">
		 		
		 		<button type="submit" class="btn btn-info">Cập nhật</button>
		 	</form>
   		</div>
	</div>
	<div class="form-action">
		<a th:href="@{/admin/customer}">Quay lại</a>
	</div>
</div>