<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout}">


      
<section layout:fragment="content">
<!-- Main-Slider -->
    <div class="default-height ph-item">
        <div class="slider-main owl-carousel">
            <div class="bg-image one">
                <div class="slide-content slide-animation">
                    
                </div>
            </div>
            <div class="bg-image two">
                <div class="slide-content-2 slide-animation">
                    <h2 class="slide-2-h2-a">Tổng hợp</h2>
                    <h2 class="slide-2-h2-b">Nội thất</h2>
                    <h1>2022</h1>
                </div>
            </div>
            <div class="bg-image three">
                <div class="slide-content slide-animation">
                    <h1>Tech
                        <span style="color:#333">Deals</span>
                    </h1>
                    <h2 style="color:#333"># shopping</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Main-Slider /- -->
    <!-- Banner-Layer -->
    <div class="banner-layer">
        <div class="container">
            <div class="image-banner">
                <a href="#" class="mx-auto banner-hover effect-dark-opacity">
                    <img class="img-fluid" th:src="@{/user/images/banners/banner2.jpg}" alt="Winter Season Banner">
                </a>

            </div>
        </div>
    </div>
    <!-- Banner-Layer /- -->
    <!-- Men-Clothing -->
    <section class="section-maker">
        <div class="container">
            <div class="sec-maker-header text-center">

                <h3 class="sec-maker-h3">NỘI THẤT</h3>
                <ul class="nav tab-nav-style-1-a justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#men-latest-products">Sản phẩm mới nhất</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#men-best-selling-products">Bán chạy nhất</a>
                    </li>
                </ul>
            </div>
            <div class="wrapper-content">
                <div class="outer-area-tab">
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="men-latest-products">
                            <div class="slider-fouc">
                                <div class="products-slider owl-carousel" data-item="3">
                                	<div th:each="furniture,i:${furnituresList}">
                                	   <div class="item">
                                        <div class="image-container">
										<a class="item-img-wrapper-link" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">
                                        
                                                <img class="img-fluid img-fur" th:src="@{/admin/img/} + ${furniture.hinhAnh}" alt="Product">
                                                </a>
                                            <div class="item-action-behaviors">
                                                <a class="item-quick-look" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">Xem nhanh
                                                </a>
                                                <a class="item-addCart" th:href="@{/shopping-cart/add/{id}(id=${furniture.idNoiThat})}">Thêm vào giỏ</a>
                                            </div>
                                        </div>
                                        <div class="item-content">
                                            <div class="what-product-is">
                                                <ul class="bread-crumb">
                                                    <li>
                                                        <a th:href="@{/category-page/{idloai}(idloai = ${furniture.loai.idLoai})}" th:text="${furniture.loai.tenLoai}"></a>
                                                    </li>
                                                   
                                                    
                                                </ul>
                                                <h6 class="item-title">
                                                    <a th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}" th:text="${furniture.tenNT}"></a>
                                                </h6>
                                                <div class="item-stars">
                                                    <div class='star' title="0 out of 5 - based on 0 Reviews">
                                                        <span style='width:0'></span>
                                                    </div>
                                                    <span>(0)</span>
                                                </div>
                                            </div>
                                            <div class="price-template">
                                                <div class="item-new-price">
                                                  	<span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia * (1 - furniture.getKhuyenMai().getGiaTri()), 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                                <div class="item-old-price">
                                                   <span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia, 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tag new" th:if="${i.odd}">
                                            <span>NEW</span>
                                        </div>
                                    </div>
                                 
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="men-best-selling-products">
                            <!-- Product Not Found -->
                            <div class="product-not-found">
                                <div class="not-found">
                                    <h2>Xin lỗi!</h2>
                                    <h6>Hiện không có sản phẩm của mục này.</h6>
                                </div>
                            </div>
                            <!-- Product Not Found /- -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-maker">
        <div class="container">
            <div class="sec-maker-header text-center">
                <h3 class="sec-maker-h3">Siêu Khuyến mãi</h3>
                      <span class="sec-maker-span-text">Kết thúc vào</span>
                <!-- Timing-Box -->
                <div class="section-timing-wrapper dynamic">
                    <span class="fictitious-seconds" style="display:none;">18000</span>
                    <div class="section-box-wrapper box-days">
                        <div class="section-box">
                            <span class="section-key">120</span>
                            <span class="section-value">Ngày</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-hrs">
                        <div class="section-box">
                            <span class="section-key">54</span>
                            <span class="section-value">Tiếng</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-mins">
                        <div class="section-box">
                            <span class="section-key">3</span>
                            <span class="section-value">Phút</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-secs">
                        <div class="section-box">
                            <span class="section-key">32</span>
                            <span class="section-value">Giây</span>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="wrapper-content">
                <div class="outer-area-tab">
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="men-latest-products">
                            <div class="slider-fouc">
                                <div class="products-slider owl-carousel" data-item="3">
                                	<div th:each="furniture,i:${furnituresList}" th:if="${furniture.khuyenMai.giaTri &gt; 0.4}">
                                	   <div class="item">
                                        <div class="image-container" >
                                            <a class="item-img-wrapper-link" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">
                                                <img class="img-fluid img-fur" th:src="@{/admin/img/} + ${furniture.hinhAnh}" alt="Product">
                                            </a>
                                             <div class="item-action-behaviors">
                                                <a class="item-quick-look" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">Xem nhanh
                                                </a>
                                                <a class="item-addCart" th:href="@{/shopping-cart/add/{id}(id=${furniture.idNoiThat})}">Thêm vào giỏ</a>
                                            </div>
                                        </div>
                                       <div class="item-content">
                                            <div class="what-product-is">
                                                <ul class="bread-crumb">
                                                    <li>
                                                        <a th:href="@{/category-page/{idloai}(idloai = ${furniture.loai.idLoai})}" th:text="${furniture.loai.tenLoai}"></a>
                                                    </li>
                                                   
                                                    
                                                </ul>
                                                <h6 class="item-title">
                                                    <a th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}" th:text="${furniture.tenNT}"></a>
                                                </h6>
                                                <div class="item-stars">
                                                    <div class='star' title="0 out of 5 - based on 0 Reviews">
                                                        <span style='width:0'></span>
                                                    </div>
                                                    <span>(0)</span>
                                                </div>
                                            </div>
                                            <div class="price-template">
                                                <div class="item-new-price">
                                                  	<span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia * (1 - furniture.getKhuyenMai().getGiaTri()), 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                                <div class="item-old-price">
                                                   <span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia, 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tag new" th:with="var=${furniture.khuyenMai.giaTri * 100}"                                      >
                                            <span th:inline="text">[[${var}]]%</span>
                                        </div>
                                    </div>
                                 
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="men-best-selling-products">
                            <!-- Product Not Found -->
                            <div class="product-not-found">
                                <div class="not-found">
                                    <h2>Xin lỗi!</h2>
                                    <h6>Hiện không có sản phẩm của mục này.</h6>
                                </div>
                            </div>
                            <!-- Product Not Found /- -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <section class="section-maker">
        <div class="container">
            <div class="sec-maker-header text-center">
                <h3 class="sec-maker-h3">Combo nội thất</h3>
                <ul class="nav tab-nav-style-1-a justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#men-latest-products">Sản phẩm mới nhất</a>
                    </li>                  
                </ul>
            </div>
            <div class="wrapper-content">
                <div class="outer-area-tab">
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="men-latest-products">
                            <div class="slider-fouc">
                                <div class="products-slider owl-carousel" data-item="3">
                                	<div th:each="furniture,i:${furnituresList}" th:if="${furniture.donViTinh} eq 'bộ' ">
                                	   <div class="item">
                                        <div class="image-container" >
                                            <a class="item-img-wrapper-link" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">
                                                <img class="img-fluid img-fur" th:src="@{/admin/img/} + ${furniture.hinhAnh}" alt="Product">
                                            </a>
                                            <div class="item-action-behaviors">
                                                <a class="item-quick-look" th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}">Xem nhanh
                                                </a>
                                                <a class="item-addCart" th:href="@{/shopping-cart/add/{id}(id=${furniture.idNoiThat})}">Thêm vào giỏ</a>
                                            </div>
                                        </div>
                                         <div class="item-content">
                                            <div class="what-product-is">
                                                <ul class="bread-crumb">
                                                    <li>
                                                        <a th:href="@{/category-page/{idloai}(idloai = ${furniture.loai.idLoai})}" th:text="${furniture.loai.tenLoai}"></a>
                                                    </li>
                                                   
                                                    
                                                </ul>
                                                <h6 class="item-title">
                                                    <a th:href="@{/detail-furniture/{idNoiThat}(idNoiThat=${furniture.idNoiThat})}" th:text="${furniture.tenNT}"></a>
                                                </h6>
                                                <div class="item-stars">
                                                    <div class='star' title="0 out of 5 - based on 0 Reviews">
                                                        <span style='width:0'></span>
                                                    </div>
                                                    <span>(0)</span>
                                                </div>
                                            </div>
                                            <div class="price-template">
                                                <div class="item-new-price">
                                                  	<span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia * (1 - furniture.getKhuyenMai().getGiaTri()), 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                                <div class="item-old-price">
                                                   <span th:inline="text">[[${#numbers.formatDecimal(furniture.donGia, 0, 'COMMA', 0, 'POINT')}]] VND
                                                  	</span>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                 
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
     <div class="banner-image-view-more">
        <div class="container">
            <div class="image-banner u-s-m-y-40">
                <a href="#" class="mx-auto banner-hover effect-dark-opacity">
                    <img class="img-fluid" th:src="@{/user/images/banners/banner.png}" alt="Banner Image">
                </a>
            </div>      
        </div>
    </div>
    <!-- Continue-Link /- -->
    <!-- Brand-Slider -->
    <div class="brand-slider u-s-p-b-80">
        <div class="container">
            <div class="brand-slider-content owl-carousel" data-item="5">
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo1.jpg}" alt="Brand Logo 1">

                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo2.png}" alt="Brand Logo 2">

                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo3.png}" alt="Brand Logo 3">

                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo4.png}" alt="Brand Logo 5">

                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo5.jpg}" alt="Brand Logo 6">

                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img th:src="@{/user/images/brand-logos/logo6.jpg}" alt="Brand Logo 7">


                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand-Slider /- -->
    <!-- Site-Priorities -->
    <section class="app-priority">
        <div class="container">
            <div class="priority-wrapper u-s-p-b-80">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-item-wrapper">
                            <div class="single-item-icon">
                                <i class="ion ion-md-star"></i>
                            </div>
                            <h2>
                                Giá tốt nhất
                            </h2>
                            <p>Chúng tôi cung cấp các giá hợp lý cho hơn 100 triệu sản phẩm</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-item-wrapper">
                            <div class="single-item-icon">
                                <i class="ion ion-md-cash"></i>
                            </div>
                            <h2>
                                Mua sắm tự tin
                            </h2>
                            <p>Chúng tôi đảm bảo an toàn cho việc mua hàng của bạn</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-item-wrapper">
                            <div class="single-item-icon">
                                <i class="ion ion-ios-card"></i>
                            </div>
                            <h2>
                                Thanh toán an toàn
                            </h2>
                            <p>Thanh toán bằng phương thức an toàn và phổ biến nhất</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-item-wrapper">
                            <div class="single-item-icon">
                                <i class="ion ion-md-contacts"></i>
                            </div>
                            <h2>
                                Trung tâm trợ giúp 24/7
                            </h2>
                            <p>Luôn hỗ trợ khách hàng ngày đêm để đem lại trải nghiệm mua sắm suôn sẻ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Site-Priorities /- -->
</section>


<script>

</script>
</html>